
.navLinks{
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    padding: 8px 30px;
}
.navLinks::after{
    background-color: #ff7ca1;
    color: white;
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    display: block;

}
.navLinks:hover::after{
    width: 100%;
    transition: width .3s linear;

}
.user-image{
    width: 40px;
    height: 40px;
}
.user-image img{
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}